@model IEnumerable<CostControlWebsite.Models.T_PoJoinPR>

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (Session["User_name"] == null && Session["User_name2"] == null)
    {
        <script type="text/javascript">

            window.location.href = '/Login/LoginIndex/';


        </script>
    }}
<!DOCTYPE html>
<html >
<head>
    <link href="~/Content/BodyIndex.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <style>
        .footer {
            margin-bottom: 10px;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #d9edf7;
            color: #9d9d9d;
            text-align: center;
        }

        .test {
            color: black;
        }

        div.card {
            width: 250px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
        }
    </style>
</head>
<body >
    <div>

        <div  style="width:100%;background-color:white">
            <div style="text-align:center;width:100%;height:5%;font-family:'Lucida Grande'">
                <h2>
                    <span style="color: red">P</span>
                    <span style="color: darkgoldenrod">O</span><span style="color: aqua"> &</span>
                    <span style="color: darkslategray">P</span>
                    <span style="color: blue">R</span>
                </h2>
            </div>
            <div class="row">
                <div class="column" style="background-color:#d9edf7;width:50%;box-shadow: 0 4px 8px 0 #d9edf7, 0 6px 20px 0 rgba(0, 0, 0, 2);height:70%;">
                    <p style="text-align:left;font-size:30px;font-family:'Lucida Grande'">Pending ApprovePO : @ViewBag.sumpo</p>
                    <hr style="background-color:black;height:0px">
                    <p style="text-align:left;font-size:30px;font-family:'Lucida Grande'">Holding : @ViewBag.sumhopo</p>
                    <hr style="background-color:black;height:0px">
                    <p style="text-align:left;font-size:30px;font-family:'Lucida Grande'">Rejected : @ViewBag.sumrepo</p>
                    <hr style="background-color:black;height:0px">
                    <button class="btn btn-success" type="button" onclick="location.href='@Url.Action("ShowPo", "Show")'">Go To Approved</button>

                </div>
          
                <div class="column" style="background-color:#d9edf7;width:50%;box-shadow: 0 4px 8px 0 #d9edf7, 0 10px 20px 0 rgba(0, 0, 0, 2);height:70%;">
                    <p style="text-align:left;font-size:30px;font-family:'Lucida Grande'">Pending ApprovePR : @ViewBag.sumpr</p>
                    <hr style="background-color:black;height:0px">
                    <p style="text-align:left;font-size:30px;font-family:'Lucida Grande'">Holding : @ViewBag.sumhopr</p>
                    <hr style="background-color:black;height:0px">
                    <p style="text-align:left;font-size:30px;font-family:'Lucida Grande'">Rejected : @ViewBag.sumrepr</p>
                    <hr style="background-color:black;height:0px">
                    <button class="btn btn-success" type="button" onclick="location.href='@Url.Action("ShowPR", "Show")'">Go To Approved</button>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
